eha-nav 
div(class="alert-container-absolute")
    div(class="alert alert-danger"
        uib-alert
        close="$ctrl.err.visibility = false" 
        ng-show="$ctrl.err.visibility")
        | {{$ctrl.err.text}}
ui-view(class="anim-in-out anim-fade" data-anim-sync="true")