- var appcss = locals["appCss"]
- var vendorcss = locals["vendorCss"]
- var appjs = locals["appJs"]
- var vendorjs = locals["vendorJs"]
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Hollydays
    link(rel="stylesheet", href=appcss)
    link(rel="stylesheet", href=vendorcss)
    script(src=vendorjs)
  body(ng-app='app', ng-strict-di)
    eha-main Loading ...
    script(src=appjs)
